<div class="container">
  <h1 class = "text-center">Rounds results for the tournament</h1>
  <h2> This round's winners</h2>
  <% @round.results.each do |result| %>
    <% next unless result.win == 1 %>
    <ul>
      <li> <%= link_to tournament_result_show_path do %>
           <%= result.user.first_name %> <%= result.user.last_name %>
           <%= result.user.win_count %> -
           <%= result.user.lose_count %>
        <% end %> </li>
    </ul>
  <% end %>
  <h2>This rounds losers</h2>
  <% @round.results.each do |result| %>
    <% next unless result.loss == 1 %>
    <ul>
      <li> <%= link_to tournament_result_show_path do %>
           <%= result.user.first_name %> <%= result.user.last_name %>
           <%= result.user.win_count %> -
           <%= result.user.lose_count %>
        <% end %> </li>
    </ul>
  <% end %>
  <p>
    need to add the page this should link to. <br>
    if you dont see a score then add a round number that isn't used. <br>
    I will be fixing this so it displays correctly. <br>
  </p>
</div>
