<body>
  <div class="contents">
    <div class="col-md-6 quarter about_me"><%= link_to "", about_show_path, class: "fill-div" %><h5 class = "text-center">About Me</h5></div>
    <div class="col-md-6 quarter resume"><%= link_to "", resume_show_path , class: "fill-div" %><h5 class = "text-center">Resume</h5></div>
    <div class="col-md-6 quarter accomplishments"><%= link_to "", accomplishment_index_path, class: "fill-div" %><h5 class = "text-center">accomplishments</h5></div>
    <div class="col-md-6 quarter contact_me"><%= link_to "", contact_me_show_path, class: "fill-div" %><h5 class = "text-center">Contact Me</h5></div>
  </div>
</body>
<%= link_to root_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>
