<%= link_to welcome_index_path do%>
<i class="fa fa-times-circle fa-3x"></i>
<% end %>
<body class = "contact-me-body container">
  <h1 class = "text-center">Get In Touch With Me</h1>
</body>
  <div class="social">
    <ul>
      <li>
        <%= mail_to "tyler.michael.russon@gmail.com" do%>
          <i class="fa fa-envelope-o fa-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://twitter.com/Xxoj18xX", :target => "_blank" do%>
          <i class="fa fa-twitter fa-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://github.com/tboneteen18", :target => "_blank" do%>
          <i class="fa fa-github fa-3x"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.linkedin.com/profile/view?id=409350289&trk=nav_responsive_tab_profile", :target => "_blank" do%>
          <i class="fa fa-linkedin fa-3x"></i>
        <% end %>
      </li>
    </ul>
  </div>
